# setup .venv with python 3.10.16
opencv-python
labelimg
pandas
protobuf==5.29.3 # if not feasible, set to ==3.20.3
cython
tensorflow==2.13 
tensorflow-estimator==2.13
tensorflow-io
tf-models-official
setuptools
wheel
pyyaml==5.1
pillow
matplotlib
contextlib2 
tf-slim  
pycocotools 
lvis 
scipy