# combined requirements tf, g2t & tts models
accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
datasets
dill
distro
evaluate
exceptiongroup
fasttext
filelock
fonttools
frozenlist
fsspec
gitdb
GitPython
h11
httpcore
httpx
huggingface-hub
idna
importlib_resources
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
multidict
multiprocess
narwhals
networkx
numpy>=1.22,<1.25
openai
packaging
pandas
peft
pickle-mixin
pillow
pkgutil_resolve_name
portalocker
propcache
protobuf==3.20.3
psutil
pyarrow
PyAudio
pybind11
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML==5.1
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
six
smmap
sniffio
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
torch-lr-finder
tornado
tqdm
transformers
typing-extensions<4.6.0,>=3.6.6
tzdata
urllib3
watchdog
xxhash
yarl
zipp 
opencv-python
cython
tensorflow==2.13
tensorflow-estimator==2.13
tensorflow-io
tf-models-official
setuptools
wheel
contextlib2
tf-slim
pycocotools
lvis
peft
